DATABASE_URL="postgresql://orbit:orbit@localhost:55432/orbit?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
AUTH_URL="http://localhost:3115"
NEXT_PUBLIC_APP_URL="http://localhost:3115"
